<div class="mb-4">
  <h4 class="speakerslist-title"><%=speaker.title%></h4>
  <div class="speakerslist-name">with
    <a href="/speakers/<%=speaker.shortname%>"><%=speaker.name%></a>
  </div>
  <div class="row speakerslist-info mt-2">
    <a href="/speakers/<%=speaker.shortname%>">
      <img class="speakerslist-img rounded-circle img-fluid" src="./images/speakers/<%=speaker.shortname%>_tn.jpg"
        alt="Photo of <%=speaker.name%>">
    </a>
    <div class="col-sm-9">
      Hillary is a sophomore art sculpture student at New York University, and has won the major international
      prizes for painters, including the Divinity Circle and the International Painter&#39;s Medal.
      Hillary&#39;s exhibit features paintings that contain only water including waves, deep sea, and river.
    </div>
  </div>
</div>