<div class="row">
  <div class="col-md-8">
    <article class="speakerslist maincontent">

      <h1 class="speakerslist-title"><%=speaker.title%></h1>
      <div class="speakerslist-name">with
        <%- include('../includes/speaker-link', {speaker}) %>
      </div>
      <p class="speakerslist-info mt-2">
        <%- include('../includes/speaker-image', {speaker, large: true}) %>
      </p>
      <%- speaker.description %>

    </article>
  </div>
  <aside class="col-md-4">
    <%- include('./partials/artwork')%>
  </aside>
</div>